<mat-card class="dashboard-card absolute">
    <mat-card-header>
      <mat-card-title>Ventas Mensuales</mat-card-title>
      <mat-card-subtitle
        >Ventas del Departamento Web divididas por mes</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="text-center margen justify-items-center">
      <div class="container">
        <div class="grid grid-rows-1">
          <div class="col-span-1">
            <apx-chart
              [series]="chartSeries"
              [chart]="chartDetails"
              [xaxis]="xAxis"
              [yaxis]="yAxis"
              [dataLabels]="dataLabels"
              [colors]="colors"
            >
            </apx-chart>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>