@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
.ag-theme-quartz {
  --ag-font-size: 14px;
  --ag-background-color: #fafafa;
  --ag-header-background-color: #fafafa;
  --ag-font-family: "Work Sans", sans-serif
}
.ag-theme-quartz .ag-header-cell {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.ag-header-cell-label {
  justify-content: center !important;
}