<div class="container min-h-full mx-auto">
    <div class="flex justify-center items-center h-screen">
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="login()">
        <mat-card class="text-center">
          <mat-card-header>
            <h1 class="text-lg font-semibold">Ventas Web</h1>
            <img src="assets/logo.png" width="95" class="mx-auto my-8" alt="" />
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Usuario</mat-label>
              <input
                oninput="this.value = this.value.toUpperCase()"
                formControlName="username"
                matInput
                autocomplete="off"
                placeholder="Nombre de Usuario"
              />
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input
                type="password"
                formControlName="password"
                matInput
                autocomplete="off"
                placeholder="******"
              />
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="justify-center">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="w-1/2 mb-4 p-1"
              [disabled]="form.invalid"
            >
              Iniciar Sesión
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
  