@use '@angular/material' as mat;
@use './theme/_theme-colors' as my-theme; // location of generated file

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: "Work Sans",
    density: 0,
  ));
}
:root {
  --mat-sys-body-medium-font : "Work Sans", "Helvetica Neue", sans-serif;
  --mat-dialog-subhead-weight: 600;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Work Sans", "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.small-icon-button {
  width: 36px !important;
  height: 38px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 30px !important;
    height: 30px !important;
  }
}

.green {
  background-color: #25D366;
}

.yellow {
  background-color: #f7f260;
}
.red {
  background-color: #f76060;
}

.orange {
  background-color: orange
}

.blue {
  background-color: #3ea0eb
}
.pink {
  background-color: #bb54aa
}

.lightpink {
  background-color: #ff5de4
}