<h1 mat-dialog-title>{{ title }} Estado</h1>
<div mat-dialog-center class="p-5">
  <form autocomplete="off" [formGroup]="form">
    <div class="text-center grid grid-rows-1">
      <div class="grid grid-cols-1 gap-3">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Estado</mat-label>

          <input
            formControlName="name"
            matInput
            type="text"
            oninput="this.value = this.value.toUpperCase()"
          />
          @if (form.controls['name'].hasError('required')) {
          <mat-error> El estado es <strong> requerido </strong> </mat-error>
          }

          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cerrar</button>

  @if (isCreateMode()) {
  <button matButton="filled" [disabled]="form.invalid" (click)="onAdd()">
    Agregar
  </button>
  } @if (isUpdateMode()) {
  <button matButton="filled" [disabled]="form.invalid" (click)="onAdd()">
    Actualizar
  </button>
  }
</div>
